.header {
    width: 100%;
    background-color: #dbecff;
    position: fixed;
    top: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90rem;
    padding: 0 1rem 1rem 1rem;
}

.main {
    margin-top: 9rem;
}

.title {
    color: #0d609d;
}

.boxCreatePost {
    display: flex;
    flex-direction: column;
    align-items: center;
}