.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    width: 100%;
    background-color: grey;
    position: fixed;
    top: 0;
}

.boxDescription {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3rem;
    height: 6rem;
    position: fixed;
    top: 0;
}

.main {
    margin-top: 9rem;
}
